<!DOCTYPE html>
<html>
<head>
    <title>Legg igjen en beskjed ... </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="Content/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="Content/css/style.css"/>

</head>
<body ng-app="app">

<script type="text/ng-template" id="twitter.html">
    <h1>Twitter</h1>

    <div ng-controller="TwitterCtrl">
        <form class="form-horizontal">
            <input tooltip-placement="bottom" tooltip="Skriv inn navnet på en twitter-konto og trykk søk"
                   tooltip-trigger="focus" type="text" ng-model="twitter.twitterSearchTerm"/>
            <button class="btn" ng-click="getTweets()">Søk<i class="icon-search"></i></button>
        </form>
        <table class="table table-bordered table-striped">
            <tr>
                <th>#</th>
                <th>Tweet</th>
            </tr>
            <tr ng-repeat="tweet in twitterData">
                <td>{{ $index+1 }}</td>
                <td>{{ tweet.text }}</td>
            </tr>
        </table>
    </div>
</script>

<div ng-controller="FirstCtrl">
    <h1>Sorry</h1>

    <h3> er ikke her akkurat nå, legg igjen en beskjed ...</h3>
    <progress percent="data.completed"></progress>


    <input placeholder="Ditt navn" tooltip="Ditt navn" tooltip-trigger="focus" tooltip-placement="right"
           type="text" ng-model="data.name"/>
    <span class="icon-question-sign" tooltip-placement="right" tooltip="Navnet sånn at jeg vet hvem det er"></span><br/>

    <input placeholder="Din beskjed" tooltip="Din beskjed" tooltip-trigger="focus" tooltip-placement="right"
           type="text" ng-model="data.message"/>
    <span class="icon-question-sign" tooltip-placement="right"
          tooltip="Skriv inn en melding for å legge den til i listen"></span><br/>


    <div class="btn-group">
        <button class="btn" ng-click="addMessage()">Legg til melding</button>
        <button class="btn" ng-click="removeMessage()">Fjern melding #{{ data.messages.length }}</button>
    </div>


    <table class="table table-bordered table-striped">
        <tr>
            <th>#</th>
            <th>Navn</th>
            <th>Melding</th>
        </tr>
        <tr ng-repeat="msg in data.messages|reverse">
            <td>{{ data.messages.length - $index }}</td>
            <td>{{ msg.name }}</td>
            <td>{{ msg.txt }}</td>
        </tr>
    </table>

</div>
<hr/>
Ulike "apps":
<a href="#">"Hjem"</a> |
<a href="#twitter">Twitter</a> |
<hr/>
<ng-view></ng-view>


<!-- Vendor scripts -->
<script src="Scripts/angular.js"></script>
<script type="text/javascript" src="Scripts/angular-resource.min.js"></script>
<script src="Scripts/ui-bootstrap-tpls-0.4.0.js" type="text/javascript"></script>

<!-- AngularJS files -->
<script src="app/app.js"></script>
<script type="text/javascript" src="app/controllers/controller.js"></script>
<script type="text/javascript" src="app/filters/filters.js"></script>
<script type="text/javascript" src="app/services/DataSource.js"></script>

</body>
</html>